[MASTER]
# Add any Python module names where names can be trusted to be unique
ignored-modules=pytest

[MESSAGES CONTROL]
# Disable specific warnings
disable=C0111,  # missing-docstring
        C0103,  # invalid-name
        C0303,  # trailing-whitespace
        W0621,  # redefined-outer-name (needed for pytest fixtures)
        R0903,  # too-few-public-methods
        W0707,  # raise-missing-from
        W0718,  # broad-exception-caught
        W0719,  # broad-exception-raised
        R1732   # consider-using-with

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

[BASIC]
# Regular expressions for names that shouldn't trigger warnings
good-names=i,j,k,ex,Run,_,id,e

[DESIGN]
# Maximum number of arguments for functions/methods
max-args=6

[SIMILARITIES]
# Minimum lines number of a similarity
min-similarity-lines=7

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=numpy,torch,cv2,selenium,appium

[MISCELLANEOUS]
# List of note tags to take into consideration
notes=FIXME,XXX,TODO
